.cards-container {
  background-color: palevioletred;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  padding: 25px;
  box-sizing: border-box;
  min-width: 800px;
  overflow: auto;
}

.cards-header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cards-header-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.cards-header-information {
  font-size: 10px;
  width: 400px;
  text-align: center;
}

.cards-content-card {
  display: flex;
  gap: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cards-content-card-selected {
  box-shadow: 1px 0 6px;
}
