<article class="cards-container">
  <section class="cards-header">
    <label class="cards-header-title">MEET OUR TEAM</label>
    <label class="cards-header-information">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil ducimus nostrum soluta debitis
                                            natus? Assumenda nostrum ipsam in reiciendis, aliquam nam officiis quas earum, fuga libero
                                            officia, consequatur vel tempora!</label>
  </section>

  <section class="cards-content-card"
           *ngIf="!!userCards.length">
    <app-card *ngFor="let userCard of userCards"
              [ngClass]="{'cards-content-card-selected': userCard === userCardSelected}"
              [userCard]="userCard"
              [userCardSelected]="userCardSelected"
              (selectedCardEmit)="selectedCard($event)"></app-card>
  </section>
</article>
