<article class="card-container"
         (click)="selectedCard(userCard)">
  <section class="card-content">
    <section class="card-content-header">
      <span class="pw-font pw-twitter"></span>
    </section>

    <section class="card-content-information">
      <label class="card-content-information-name">{{userCard.firstName}}  {{userCard.lastName}}</label>
      <label class="card-content-information-range">{{userCard.role}}</label>
      <label class="card-content-information-description">{{userCard.description}}</label>

      <section class="card-content-information-social">
        <a class="card-content-information-social-facebook"
           href=""><span class="pw-font pw-facebook"></span></a>

        <a class="card-content-information-social-twitter"
           href=""><span class="pw-font pw-twitter"></span></a>

        <a class="card-content-information-social-linkedin"
           href=""><span class="pw-font pw-linkedin"></span></a>
      </section>
    </section>
  </section>
</article>
