@mixin social-button($colorButton: red) {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: $colorButton;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  min-width: fit-content;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: white;
  min-width: 200px;
}

.card-content-header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(194, 194, 194);
  font-size: 50px;
  color: white;
}

.card-content-information {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
}

.card-content-information-name {
  font-weight: bold;
  text-transform: uppercase;
}

.card-content-information-range {
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
}

.card-content-information-description {
  font-size: 12px;
  color: gainsboro;
  text-align: center;
}

.card-content-information-social {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-top: 10px;
  box-sizing: border-box;
}

.card-content-information-social-facebook {
  @include social-button(blue);
}

.card-content-information-social-twitter {
  @include social-button(rgb(118, 192, 244));
}

.card-content-information-social-linkedin {
  @include social-button();
}
