/* You can add global styles to this file, and also import other style files */
html {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  width: 100%;
  margin: 0;
}

.app-root {
  width: 100%;
  height: 100%;
  display: flex;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
